@use './utils/vars' as *;
@import './components/menu';
@import './components/navigation';
@import './components/header-top';
@import './components/atributes';
@import './components/work';
@import './components/label';
@import './components/our-team';
@import './components/social-media';
@import './components/our-coustomers';
@import './components/footer';
@import './components/address';
@import './components/signap-form';
@import './components/portfolio-page';
@import './components/main-box';
@import './components/modal';
@import './components/modal-form';
@import './components/checkbox-agreement';
@import './components/menu-container';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: $color-background;
  font-family: $font-primary;
  color: $color-grey;
}
.menu {
  width: 100vw;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  border-bottom: 1px solid $color-border-menu;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-background;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
}
.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin-left: 200px;
  &--principal {
    flex-direction: row;
    max-height: 80px;
    justify-content: space-between;
    padding: 0 15px;
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    min-width: 100vw;
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  }
}
.menu__logo {
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: $color-black;
  text-decoration: none;
  font-family: $font-menu;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__web {
  color: $color-blue;
}
.navigation {
  display: none;
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  }
}
//finish menu//
.section {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.header {
  // margin-left: -200px;
  // width: 1600px;
  max-width: 100vw;
  min-height: 400px;
  text-align: center;
  background-image: linear-gradient(to bottom, $color-background-img, $color-background-img),
    url(../images/overlay.png);
  background-size: cover;
}
.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 58px;
}
//finish header//
.attributes {
  display: flex;
  padding-bottom: 0;
  width: 100vw;
}
//finish atributes//
.work {
  display: none;
  // width: 1170px;
  // box-sizing: content-box;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
//start label//
.label {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  top: 1445px;
}
//finish label//
.our-team {
  // width: 1600px;
  // margin-left: -200px;
  background: $color-third-header-button;
  margin: 0;
  text-align: center;
  max-width: 100vw;
}
.social-media {
  width: 206px;
  padding: 6px 0;
  margin: 16px 32px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @media screen and (max-width: 480px) {
  //   margin: 16px 122px 24px;
  // }
  // @media screen and (min-width: 481px) and (max-width: 768px) {
  //   margin: 16px 74px 24px;
  // }
}
//finish your team//
.our-customers {
  box-sizing: border-box;
  max-width: 100vw;

}
.footer {
  position: absolute;
  // width: 1600px;
  background: $color-header-footer;
  letter-spacing: 0.03em;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .last {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
.social-media--footer {
  margin: 20px 0 0 0;
}
.address {
  margin-top: 20px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: center;
  
  // margin-left: 78px;
  // @media screen and (max-width: 768px) {
  //   flex-direction: column;
  //   margin-left: 0;
  //   align-items: center;
  //   justify-content: center;
  // }
}
//finish footer//
.portfolio-page {
  box-sizing: content-box;
  width: 1170px;
  background: $color-background;
  color: $color-almost-black;
}
.main-box {
  display: flex;
}
//backdrop//
.backdrop {
  position: fixed;
  width: 100vw;
  // width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 1s;
}
.modal {
  position: absolute;
  // width: 528px;
  // min-height: 581px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: $color-background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    max-height: 609px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 1s;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0px 40px 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
