@use './utils/vars' as *;
@import './components/menu';
@import './components/navigation';
@import './components/header-top';
@import './components/atributes';
@import './components/work';
@import './components/label';
@import './components/our-team';
@import './components/social-media';
@import './components/our-customers';
@import './components/footer';
@import './components/address';
@import './components/signap-form';
@import './components/portfolio-page';
@import './components/main-box';
@import './components/modal';
@import './components/modal-form';
@import './components/checkbox-agreement';
@import './components/menu-container';
@import './components/container';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: $color-background;
  font-family: $font-primary;
  color: $color-grey;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.menu {
  width: 100vw;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $color-border-menu;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color-background;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
}
.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  display: block;
}
.container {
  display: flex;
  //  @media screen and (min-width: 768px) {
  //   min-width: 768px;
  // }
  // @media screen and (min-width: 1200px) {
  //   min-width: 1200px;
  // }
}
.menu__logo {
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: $color-black;
  text-decoration: none;
  font-family: $font-menu;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__web {
  color: $color-blue;
}
.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin-left: 83px;
    margin-right: 101px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 345px;
  }
}
//finish menu//
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.header {
  max-width: 100vw;
  min-height: 400px;
  text-align: center;
  background-image: linear-gradient(to bottom, $color-background-img, $color-background-img),
    url(../images/overlay480.png);
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, $color-background-img, $color-background-img),
      url(../images/overlay768.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, $color-background-img, $color-background-img),
      url(../images/overlay.png);
    min-height: 600px;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to bottom, $color-background-img, $color-background-img),
      url(../images/overlay480@x2.png);
  }
}
@media screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(to bottom, $color-background-img, $color-background-img),
        url(../images/overlay768@2x.png);
    }
  }
}
@media screen and (min-width: 1200px) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(to bottom, $color-background-img, $color-background-img),
        url(../images/overlay@2x.jpg);
    }
  }
}
.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 58px;
  @media screen and (min-width: 1200px) {
    padding-top: 106px;
    padding-bottom: 106px;
  }
}
//finish header//
.attributes {
  display: flex;
  padding-bottom: 0;
  width: 100vw;
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }
}
//finish atributes//
.work {
  display: none;
  @media screen and (min-width: 1200px) {
    min-width: 1170px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
//start label//
.label {
  position: absolute;
  min-width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  top: 1436px;
}
//finish label//
.our-team {
  background: $color-third-header-button;
  margin: 0;
  text-align: center;
  max-width: 100vw;
}
.social-media {
  max-width: 206px;
  padding: 6px 0;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @media screen and (min-width: 786px) {
  //   margin: 16px 122px 24px;
  // }
  // @media screen and (min-width: 481px) and (max-width: 768px) {
  //   margin: 16px 74px 24px;
  // }
}
//finish your team//
.our-customers {
  box-sizing: border-box;
  max-width: 100vw;
}
.footer {
  background: $color-header-footer;
  letter-spacing: 0.03em;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    max-height: 252px;
  }
  .last {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
      padding-bottom: 60px;
    }
  }
}
.social-media--footer {
  margin: 20px 0 0 0;
  min-width: 100%;
}
.address {
  margin-top: 20px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    padding-top: 72;
    padding-bottom: 94;
    margin-left: 76px;
  }
  // margin-left: 78px;
  // @media screen and (max-width: 768px) {
  //   flex-direction: column;
  //   margin-left: 0;
  //   align-items: center;
  //   justify-content: center;
  // }
}
//finish footer//
.portfolio-page {
  box-sizing: content-box;
  width: 1170px;
  background: $color-background;
  color: $color-almost-black;
}
.main-box {
  display: flex;
}
//backdrop//
.backdrop {
  position: fixed;
  width: 100vw;
  // width: 100%;
  min-height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 1s;
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: $color-background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  max-height: 609px;
  @media screen and (min-width: 480px) {
    min-width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 1s;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0px 40px 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
