.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 200px;
  @media screen and (max-width: 480px) {
    margin: 0;
    display: flex;
  }

  &--principal {
    flex-direction: row;
    max-height: 80px;
  }
}