.container {
  // max-width: 1200px;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // margin-left: 200px;
  justify-content: center;
  flex-direction: column;
  &--principal {
    flex-direction: row;
    max-height: 80px;
    justify-content: space-between;
    padding: 0 15px;
    min-width: 100%;
    @media screen and (min-width: 768px) {
      max-width: 768px;
      min-width: 0;
    } 
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      
    }
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  }
}
