.label {
  &__aplication {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color: $color-background;
    letter-spacing: 0.03em;
    width: 190px;
  }
}
