.modal {
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--color-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      color: $color-blue;
    }
  }
  &__data-form {
    margin: 40px 40px 12px;
    font-size: 20px;
    font-weight: 1.15;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 700;
    color: $color-almost-black;
    text-align: center;
  }
}
