.signup-form {
  &__label {
    display: flex;
    flex-direction: column;
    // margin-top: 72px;
    margin-top: 3.75rem;
    color: $color-background;
    align-items: center;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      padding-bottom: 2.25rem;
    }
  }
  &__input {
    max-width: 100%;
    min-height: 50px;
    margin-top: 20px;
    background-color: $color-header-footer;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    @media screen and (min-width: 480px) {
    min-width: 378px;

    }
    @media screen and (min-width: 1200px) {
      min-width: 358px;
      max-height: 50px;
    }
  }
  &__button {
    // margin: 108px 215px 94px 12px;
    margin: 20px 140px 60px;
    min-height: 50px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $color-background;
    fill: $color-background;
    border: none;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
      margin: 0;
      margin-left: 12px;
    }
    // @media screen and (max-width: 480px) {
    //   margin: 20px 140px 60px;
    // }
    //  @media screen and (max-width: 768px) {
    //   margin: 20px 0 60px 0;
    // }
  }
  &__icon {
    margin-left: 2px;
  }
}
